Plone
ZEO
supervisor
plone.recipe.zope2instance
ploneintranet [test]
collective.pdbpp
collective.icecream
collective.relationhelpers
plone.app.debugtoolbar
plone.reload
-e /home/ale/Code/plone/projects/quaive-ansible/src/plonintranet
-e /home/ale/Code/plone/projects/quaive-ansible/src/quaive.resourves.ploneintranet
